<h1>Edit this Article</h1>

<form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" value="PATCH" name="_method">


    <label for="title">Title</label>
    <input type="text" id="title" name="article[title]" value="<%= @article.title %>">
    <label for="content">Content</label>
    <input type="text" id="content" name="article[content]" value="<%= @article.content %>">
    <input type="submit" value="Edit Book">


</form>
