<h1><%=@article.title%></h1>

<h2><%=@article.content%></h2>

<form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="Destroy this book">
</form>
